services:
    sandbox:
        container_name: "${COMPOSE_PROJECT_NAME}"
        image: ${SB_IMAGE:?This is likely a misconfiguration issue.}
        user: "${SB_LOGIN_USER_ID:?This is likely a misconfiguration issue.}:${SB_LOGIN_GROUP_ID:?This is likely a misconfiguration issue.}"
        command: /sandbox/init/init.sh
        working_dir: /workspace/${SB_WORKSPACE_MAIN_ROOT_DIRNAME}
        hostname: ${COMPOSE_PROJECT_NAME}
        # cap_drop:
        #     - ALL
        # cap_add:
        #     # firewall:
        #     - NET_ADMIN
        #     - NET_RAW
        #     # sudo/root:
        #     - SETUID
        #     - SETGID
        #     - DAC_OVERRIDE
        #     - CHOWN
        pids_limit: 500 # prevent fork bombs
        mem_limit: 8G
        ipc: private # isolate IPC namespace
        tmpfs:
            - /tmp:size=1G # ephemeral /tmp
        ulimits:
            nofile:
                soft: 65536
                hard: 65536
        environment:
            - TZ=${SB_SANDBOX_TZ}
            - SB_PROMPT_SANDBOX=${COMPOSE_PROJECT_NAME}
            - SB_PROJECT_ID=${SB_PROJECT_ID:?This is likely a misconfiguration issue.}
            - SB_SANDBOX_ID=${SB_SANDBOX_ID:?This is likely a misconfiguration issue.}
            - LOCAL_WORKSPACE_MAIN_ROOT=/workspace/${SB_WORKSPACE_MAIN_ROOT_DIRNAME}
            - NODE_OPTIONS=--max-old-space-size=4096

        env_file:

            - path: ${SB_COMPOSE_ROOT}/sb-sandbox.env
              required: true

            - path: ${SB_COMPOSE_ROOT}/sb-login.env
              required: true

            - path: ${SB_COMPOSE_ROOT}/user.env
              required: false
              
            - path: ${SB_COMPOSE_ROOT}/user-secrets.env
              required: false              

            - path: ${SB_USER_ENV_ROOT}/user.env
              required: false

            - path: ${SB_USER_ENV_ROOT}/user-secrets.env
              required: false

        volumes:
            # workspace files
            - workspace_main:/workspace/${SB_WORKSPACE_MAIN_ROOT_DIRNAME}:delegated

            #create "shadow" mount to an empty directory to hide the SB project files
            - workspace_sb_shadow:/workspace/${SB_WORKSPACE_MAIN_ROOT_DIRNAME}/.sb

            #sandbox modules
            - modules:/sandbox/modules            

            #sandbox init
            - init:/sandbox/init

            #user non-confidential
            - user:/sandbox/user

            #user confidential
            - user_secrets:/sandbox/user-secrets

            # TIME/TZ
            - /etc/localtime:/etc/localtime:ro
            - /etc/timezone:/etc/timezone:ro
                 
volumes:

    workspace_main:
        driver: local
        driver_opts:
            type: none
            device: ${SB_WORKSPACE_MAIN_ROOT}
            o: bind

    workspace_sb_shadow:
        driver: local
        driver_opts:
            type: none
            device: ${SB_COMPOSE_VOLUME_DOT_SB_SHADOW_ROOT}
            o: bind       

    modules:
        driver: local
        driver_opts:
            type: none
            device: ${SB_COMPOSE_VOLUME_MODULES_ROOT}
            o: bind                

    init:
        driver: local
        driver_opts:
            type: none
            device: ${SB_COMPOSE_VOLUME_INIT_ROOT}
            o: bind
      

    user:
        driver: local
        driver_opts:
            type: none
            device: ${SB_COMPOSE_VOLUME_USER_ROOT}
            o: bind       

    user_secrets:
        driver: local
        driver_opts:
            type: none
            device: ${SB_COMPOSE_VOLUME_USER_SECRETS_ROOT}
            o: bind       



